
.frame::-webkit-scrollbar {
    background-color: transparent;
}

.frame {
    position: fixed;
    left: 0px;
    top: 70px;
    width: calc(100vw - 0px);
    height: calc(100vh - 60px);
    
    border-radius: 15px;
    border-color: #f1c5aa;
    border-style: solid;
    border-width: 1px;
}

.frame.noheader {
    top: 0px;
    height: 100vh;
    transition: 0.3s;
}