.header {
    z-index: 100;

    position: fixed;
    top: 0%;
    width: 100vw;
    height: 60px;
    padding: 5px;
    margin: 0;

    background-image: linear-gradient(18deg, #FFEBE780 0%, #FFEBE740 100%);
    background-size: contain;
    
    display: flex;

}
.header.hidden {
    height: 0px;
    padding: 0;
    overflow-y: hidden;

    transition: 0.3s;
}

.header > * { 
    flex: 1;
    background-repeat: no-repeat;
}

.header > .profile {
    background-image: url(../assets/headshot.svg);
    background-position: 40% center;
    background-size: 120%;
    border-radius: 50%;
    border: solid #503D3F 3px;


    flex: 0 1;
    aspect-ratio: 1/1;

}
.header > .name {
    padding: 5px 5px 0px 5px;
}
.header > .home {
    background-image: url(../assets/icons/home.svg);
    background-position: center;
 
    flex: 0 1;
    aspect-ratio: 1/1;
}