@import url(css/bubble.css);
@import url(css/education.css);
@import url(css/frame.css);

.nodisp {
    display: none !important;
}

.blur {
    scale: 105%;
    filter: blur(10px);
    transition: 0.3s;
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/bg.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
    z-index: -1;
}

body{ 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.main {
    display: block;
    margin: 50px auto auto auto;
    width: 75%;
    max-width: 750px;
}
.main > .profile {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-left: calc(50% - 100px);
    border: solid #503D3F 10px;

    z-index: -5;
}

.main > .name {
    margin: 30px 10px 30px 10px;
}


@media only screen and (max-width: 640px) {
    .name {
    }
}
@media only screen and (max-width: 1008px) {
    
}
@media only screen and (min-width: 1009px)  {
    
}