
.snakeFrame {
    display: block;
    margin: 20vh auto auto auto;

    width: 75vw;
    max-width: 500px;

}

.snakeFrame > .game {
    width: 100%;
    aspect-ratio: 1 / 1;

    display: grid;

    background-color: #DFA06E;
    border: solid #DA9258 5px;
    border-radius: 10px;
}
.snakeFrame > .game > .tile {
    aspect-ratio: 1 / 1;
    width: 100%;
    border: 1px #86BA90 none;
}

.snakeFrame > .game > .head, 
.snakeFrame > .game > .body,
.snakeFrame > .game > .tail {
    background-color: #F5F3BB;
}

.snakeFrame > .game > .food {
    background-color: #DF2935;
}